{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.2/css/bootstrap.css" %}">
</head>
<body ng-app="{% block ng_app %}cyberFeed{% endblock %}" ng-controller="{% block ng_controller %}cyberFeedController as ctrl{% endblock %}">
    <div class="container">
 <div class="row">
  <div class="col-md-6">
    <div class="content" >{% block content %}
{% verbatim %}
    <div class="panel" ng-repeat="domain in domains">
        {{ domain.name }}
        <form name="addForm">
            <input type="radio"
name="gender"
ng-model="data[$index].action"
value="Deny">Deny
<input type="radio"
name="gender"
ng-model="data[$index].action"
value="Permit">Permit
        </form>
        <button ng-click="sendDataToSocket(domain.name,$index)">click</button>
         <button ng-click="updateConfig(domain.name,$index)">Update config</button>
    </div>

</div>
  </div>
  <div class="col-md-6">
    <div style="white-space:pre;">
       <span ng-bind="response"></span> 
    </div>
    
  </div>
 </div>  
</div>
{% endverbatim %}
{% endblock %}


<!--<script src="{% static "underscore/underscore.js" %}"></script>-->
<script src="{% static "angular/angular.min.js" %}"></script>
<script src="{% static "xml2json/xml2json.js" %}"></script>
<!--<script src="{% static "angular-resource/angular-resource.js" %}"></script>-->
<script src="{% static "js/services.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>


</body>
</html>